main {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

input {
  width: 100%;
}

form {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.expenses {
  width: 50%;
  margin-right: 25px;
}

p.date {
  text-align: left;
}

li {
  margin-bottom: 35px;
}

h4.description-header {
  text-align: center;
  display: inline-block;
}

h4.date-header {
  text-align: left;
}

h4.date-header {
  border-width: 1px;
  border-top: solid;
  border-bottom: solid;
  border-color: #70777f;
}

.transaction-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.transaction-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style-type: none;
}

.transaction-container p {
  margin-top: 0 ;
  margin-bottom: 0;
  width: 100%;
}

.transaction-container p.income {
  color: #39a33c;
  text-align: right;
}

.transaction-container p.outcome {
  color: #a52a2a;
  text-align: right;
}

.transaction-container p.description {
  text-align: left;
}

a {
  margin-left: 20px;
}

button {
  display: inline-block;
}